:root {
  --purple: #54426b;
  --off-white: #e9f1f7;
}

body {
  color: var(--purple);
  background-color: var(--off-white);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  color: var(--off-white);
  width: 100%;
  display: flex;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: small;
  height: fit-content;
}

header img {
  width: 50px;
}

header {
  border-radius: 0px 0px 20px 20px;
  background: var(--purple);
}

header *,
footer * {
  margin-left: 25px;
}

footer {
  bottom: 0;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background: var(--purple);
  position: sticky;
}

main {
  flex-grow: 1;
}

.breadcrumbs {
  font-size: 14px;
  margin: 5px 0;
  color: #999;
}

.breadcrumbs a {
  color: #999;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumbs a:hover {
  color: #333;
}

.breadcrumbs span::before {
  content: ">";
  margin: 0 5px;
}

@media (max-width: 400px) {
  header,
  footer {
    font-size: small;
  }
  footer * {
    margin-left: auto;
  }
  main {
    flex-direction: column;
  }
}
