@import "base.css";

.community-banner {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-radius: 20px;
  background-color: #dbd5b2;
  max-height: 100px;
}

#community-img {
  width: 50%;
  max-height: inherit;
  border-radius: 0 20px 20px 0;
  object-fit: cover;
  object-position: center;
}
