@import "base.css";

main {
  margin: 10px;
}

#title {
  color: var(--purple, #54426b);
  font-family: Poppins;
  font-size: 32px;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

#communityrow {
  display: flex;
}

#communitytext {
  color: rgba(84, 66, 107, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 16px;
}

#community-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#image-container {
  display: flex;
  margin-left: 5px; /* Espaçamento entre as imagens */
}

#mackenzielogo,
#communitylogo {
  width: 40px;
  height: 40px;
  margin-left: 16px;
}
#textbody {
  margin-left: 20px;
}

#benefitstext {
  margin-bottom: 48px;
  margin-top: 32px;
}
#description {
  margin-right: 72px;
  margin-top: 32px;
  margin-bottom: 32px;
}
